<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>What's new with <%= @resident.name %></h1>
    <p><%= @status.content %></p>
  </body>
</html>