
<h1><%= @donor.name %></h1>
<br>
Organization: <%= @donor.org %>
<% if @donor.residents.count >0 %>
Donated to: 
<% @donor.residents.each do |d| %>
	<ul>
		<li><%= d.name %></li>
	</ul>
<% end %>
<% end %>
