<div ng-app="partner-app" class="container">
  <h1>Partners</h1>

  <div ng-controller="PartnerCtrl">

     <div class="form-group">

        <input ng-model="searchPartner" type="text" class="form-control" placeholder="search partners">
          {{ searchPartner}}
      </div>
    <table class="table">
      <tbody>
      <tr ng-repeat="partner in partners | filter: searchPartner ">
        <td>
        {{partner.name}} of {{partner.org}} 
        <div ng-show="partner.details">
          <dl>
            <dt>Name</dt>
            <dd>{{partner.name}}</dd>
            <dt>Email</dt>
            <dd>{{partner.email}}</dd>
            <dt>Organization:</dt>
            <dd>{{partner.organization}}</dd>
            <dt>Address:</dt>
            <dd>{{partner.address}}</dd>
            <dt>Residents:</dt>
            <ul>
              <li ng-repeat="resident in partner.residents">{{resident.name}}</li>
            </ul>

            

          </dl>
          </div>
        
        </td>


        <td>
        <span ng-hide="!partner.details"><a ng-click="hidePartner(partner)">Hide</a></span>
        <span ng-hide="partner.details"><a ng-click="showPartner(partner)">Show</a></span>
        </td>
  
        
      </tr>
      </tbody>
      </table>
    
   

  </div>
</div>
