<div ng-app="partner-app" class="container">
  <h1>Partners</h1>

  <div ng-controller="PartnerCtrl">

     <div class="form-group">

        <input ng-model="searchPartner" type="text" class="form-control">
          {{ searchPartner}}
      </div>
    <table class="table">
      <tbody>
      <tr ng-repeat="partner in partners | filter: searchPartner ">
        <td>
        {{partner.name}} of {{partner.org}} 
        
        </td>

        <td>
  
        
      </tr>
      </tbody>
      </table>
    
   

  </div>
</div>
