


<div ng-app="partner-app" class="container">


  <div ng-controller="PartnerCtrl">

    <button type="button" class="btn btn-lg btn-info" data-template="aside.html" data-placement="left" bs-aside="aside" data-container="body">Dashboard
    </button>

    <h2> Partners </h2>

     <div class="form-group">

        <input ng-model="searchPartner" type="text" class="form-control" placeholder="search partners">
          {{ searchPartner}}
      </div>
    <table class="table">
    <th>Name</th>
    <th>Organization</th>
    <th>Total Raised</th>
    <th>Number Residents</th>
    <th>Details</th>

      <tbody>
      <tr ng-repeat="partner in partners | filter: searchPartner ">

        <td>
        {{partner.name}} 
        <div ng-show="partner.details">
          <dl>
    
            <dd>Email: {{partner.email}}</dd>
           
            <dd>Number Donations:{{partner.count}}</dd>
    
            <dd>Address: {{partner.address}}</dd>
            <dt>Residents:</dt>
            <ul>
              <div ng-repeat="resident in partner.residents">{{resident.name}}</div>
            </ul>

            

          </dl>
          </div></td>
        <td>{{partner.org}} </td>

        
        
        </td>
        <td>${{partner.sum}}</td>
        <td>{{partner.residents.length}}</td>


        <td>
        <span ng-hide="!partner.details"><a ng-click="hidePartner(partner)">Hide</a></span>
        <span ng-hide="partner.details"><a ng-click="showPartner(partner)">Show</a></span>
        </td>
  
        
      </tr>
      </tbody>
      </table>
    
   

  </div>
</div>
