<style type="text/css">


        html {
          font-family: 'Open Sans', sans-serif;
}

        .btn btn-default btn-xs {
          padding: 10px;
        }

        body {
          max-width: 100%;
          font-family: 'Open Sans', sans-serif;
}




ul{
  padding: 0px;
}




        
.navbar-header {
padding-top: -10px;

}

.work {
  color: #E74C3C;
  font-size: 30px;
  font-weight: bold;

}
        
        
.login {
margin-left: 30px;

} 

.signup {
margin-left: 500px;

}        
        
#main {
color: white;
padding-left: 150px;


}        


.greybox {
background-color: white;
height: 350px; 
width: 61px; 
border: 1px solid #ddd;
width border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
margin-top: 180px;


width: 100%;
float: left;


}

h2, h3, h4 {
color: #E74C3C
;


}



.member-image, .profile-image, .donation-image {
width: 50px;
margin-left: 30px;


}

.donate, .profile {
  margin-right: 30px;
  margin-top: 10px;
}


.member {
float: left;
clear: inherit;
padding-top: 30px;
margin: 30px;
padding-left: 96px;
}

.donation{
  float: left;
clear: inherit;
padding-top: 30px;
margin: 55px;

}

.profile{
  float: left;
clear: inherit;
padding-top: 30px;
margin-right: 30px;
margin-top: 70px;
padding-left: 90px;

}

.directly{
margin-top: 20px;
margin-top: 100px;
font-size: 33px;
padding-bottom: 80px;
color: black; 
}

.description {
  font-family: 'Lato'; 
  font-size: 24px;
  margin-top: 200px;
  margin-left: 450px; 
  position: relative;

}

.percent{
  margin-right: 200px;
  margin-left: 340px;
  font-weight: bold;
  color: #847F74;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img{
   display: block;
  width: 100%;
  max-width: 100%;
  height: 600px;
  line-height: 1;

}

.ptext{
  padding-bottom: 20px; 
  font-size: 40px;
  background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
}

.member-image{
  margin-top: 27px;
  margin-left: 50px;
  height: 120px;
width: 120px
}

h2  div button{
    width: 180px;
  height: 60px;
  background-color: #3498db;

}

.btn-primary{
  background-color: #3498db;
}
 

.profile-image{
height: 120px;
width: 120px;
padding-bottom: 15px;

}     


.donation-image{
  height: 120px;
width: 120px
}

.pledge{
  margin-top: -2.8px;
}

 
 
        

      </style>
<script type='text/javascript'>
  $(document).ready(function() {
       $('.carousel').carousel({
           interval: 3000
       })
  });    
</script>
    </head>
   
<body> 


      <h2 class = "directly text-center">Aid a residentially displaced person in your city 
        <div class="btn-group">
  <a href="residents/" class="btn btn-success btn-lg" role="button">Help Out!</a>

      </h2>

      
    
<div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
  <div class="carousel-inner">
  <div class="item active"><!-- class of active since it's the first item -->
      <%= image_tag("needhelp.jpg", :alt => "rss feed") %>
      <div class="carousel-caption">
 <p class ="ptext">Directly fund a homeless neighbor in need.</p>
      </div>
      </div>    <!-- class of active since it's the first item -->
    

    <div class="item">
      
      <%= image_tag("neighbor.jpg", :alt => "rss feed") %>

    <div class="carousel-caption">

      <p class ="ptext"> 100% of your donation goes directly toward basics like food, clothing, and medical care.</p>
      </div>
      </div>

    <div class="item">
      <%= image_tag("bridge.jpg", :alt => "rss feed") %>
      <div class="carousel-caption">
          <p class ="ptext"> Help today and change someone's life</p> 
      </div>
    </div>
  </div><!-- /.carousel-inner -->
  <!--  Next and Previous controls below
        href values must reference the id for this carousel -->
    <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->
   </body>

    </html>
