<div ng-app="resident-app" class="container">

  <h1>Residents</h1>

  <div ng-controller="ResidentCtrl">

   	<ul>
      <li ng-repeat="resident in residents ">
      
        {{resident.name}}-- {{resident.bio}} 
      </li>
    </ul>
   

  </div>
</div>
