  <!DOCTYPE html>
  <html>
  <head>
    <title>Members Page</title>


      
  </head>
  <body>
  
  
  <nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
      <span class="sr-only">Toggle navigation</span>
    </button>
     
    <a class="navbar-brand" id = "main" href="#">Home Street Home</a> 
  </div>
  <div class="collapse navbar-collapse" id="navbar-collapse-01">
    <ul class="nav navbar-nav">           
      <li class="active"><a href="#fakelink">How it works</a></li>
      <li><a href="members.html">Members</a></li>

        <li class = "signup"><%= link_to "Sign up", new_user_registration_path %> </li>
        <li class = "login"> <a href="#"> Login </a></li>
        
    </ul>      
    </div> 
    </nav>
    </div>


  <div class="form-group">
        <div class="input-group">
          <input class="form-control" id="navbarInput-01" type="search" placeholder="Search">
          <span class="input-group-btn">
            <button type="submit" class="btn"><span class="fui-search"></span></button>
          </span>            
        </div>
      </div>               
    </form>
  </div><!-- /.navbar-collapse -->
</nav><!-- /navbar --> 
      <div class="row">
        
        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="https://scontent-a-lax.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/1239593_10203505701587493_274258297_n.jpg?oh=7b1c5f0d457eeabf910ea084127d94a4&oe=5405112F" alt="">
              
              <div class="caption">
                <h4>Biography</h4>
                <p>This is the story of Lex and his trials of living on the streets</p>
                
                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                    <span class="sr-only">40% Complete (success)</span>
                      <p>Donations</p>
                      </div>
                       </div>

                <p><a href="#" class="btn btn-info btn-xs" role="button">Follow his story</a> <a href="timeline.html" class="btn btn-default btn-xs" role="button">Learn more</a></p>
            </div>
          </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-3">
          
          <div class="thumbnail">
            <img src="https://scontent-a-lax.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/1239593_10203505701587493_274258297_n.jpg?oh=7b1c5f0d457eeabf910ea084127d94a4&oe=5405112F" alt="">
              
              <div class="caption">
                <h4>Biography</h4>
                <p>This is the story of Lex and his trials of living on the streets</p>

                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                    <span class="sr-only">40% Complete (success)</span>
                      <p>Donations</p>
                      </div>
                      </div>

                <p><a href="#" class="btn btn-info btn-xs" role="button">Follow his story</a> <a href="timeline.html" class="btn btn-default btn-xs" role="button">Donate</a></p>
            </div>
          </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-3">
          
          <div class="thumbnail">
            <img src="https://scontent-a-lax.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/1239593_10203505701587493_274258297_n.jpg?oh=7b1c5f0d457eeabf910ea084127d94a4&oe=5405112F" alt="">
              <div class="caption">
                <h4>Biography</h4>

                <p>This is the story of Lex and his trials of living on the streets</p>

                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                    <span class="sr-only">40% Complete (success)</span>
                      <p>Donations</p>
                      </div>
              </div>

                <p><a href="#" class="btn btn-info btn-xs" role="button">Follow his story</a> <a href="timeline.html" class="btn btn-default btn-xs" role="button">Donate</a></p>

            </div>
          </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="https://scontent-a-lax.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/1239593_10203505701587493_274258297_n.jpg?oh=7b1c5f0d457eeabf910ea084127d94a4&oe=5405112F" alt="">
              <div class="caption">
                <h4>Biography</h4>
                <p>This is the story of Lex and his trials of living on the streets</p>
                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                    <span class="sr-only">40% Complete (success)</span>
                      <p>Donations</p>
                      </div>
              </div>
                <p><a href="#" class="btn btn-info btn-xs" role="button">Follow his story</a> <a href="timeline.html" class="btn btn-default btn-xs" role="button">Donate</a></p>
            </div>
          </div>
        </div>
        
      </div><!-- End row -->
      
    </div><!-- End container -->


  </body>
  </html>
