<div ng-app="resident-app" class="container">

<h1 class="span7 text-center">Residentially Challenged </h1>


  <div ng-controller="ResidentCtrl">


<div style="height:800px;overflow:auto;" when-scrolled="loadMore()"> 
      <div ng-repeat="resident in residents | limitTo:numdisplay">
        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img id="res-index"src={{resident.image}} alt="">

              <div class="caption">
                <h4>{{resident.name| limitTo : 20}}</h4>

                <p>{{resident.bio | limitTo : 100}}...</p>
                <p>${{calcTotal(resident)}} of ${{resident.goal_monetary}} from {{resident.donations.length}} 
                <ng-pluralize count="resident.donations.length"
                 when="{0: 'donations',
                     1: 'donation',
                     other: 'donations'
                     }">
				</ng-pluralize> 
				</p>
                
                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: {{calcPercent(resident)}}%">
                
                      <p>Donations</p>
                      </div>
                       </div>

                <p class="span7 text-center"><a href="residents/{{resident.id}}" class="btn btn-info btn-med" role="button">Learn more</a></p>
            </div>
          </div>
  </div>
</div>
</div>

